:root {
    --fuenteHeading: 'Nunito', sans-serif;
    --fuenteParrafos: 'Roboto', sans-serif;

    --primario: #0C2D5D;
    --secundario: #1169A2;
    --terciario: #0C556A;
    --backgroud: #c3e3fd;
    --blanco: #FFF;
    --negro: #000;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    /* 1rem = 10px */
    background-color: var(--backgroud);
    padding-top: 9rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 2rem 0;
    font-family: var(--fuenteHeading);
}

p {
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p,
a,
span {
    font-family: var(--fuenteParrafos);
}

select,
input[type=checkbox] {
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 190rem;
    margin: 0 auto;
}

.header,
.footer {
    background-color: var(--primario);
    width: 100%;
}

.button {
    border: 2px solid var(--secundario);
    background-color: transparent;
    color: var(--blanco);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4rem;
    width: 15rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secundario);
    transition: ease-out 0.3s;
}

.content {
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .content {
        padding: 10rem 0;
    }
}

.hero {
    background-color: var(--secundario);
    height: 25vw;
    min-height: 40rem;
    color: var(--negro);
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 12px -3px rgba(138, 134, 138, 1);
    width: 100%;
}

.hero .container {
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: var(--backgroud);
}

@media (min-width: 480px) {
    .hero h1 {
        font-size: 5rem;
        padding: 1rem 2rem;
    }
}

/* Eliminar flechas de los inputs tipo number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Header */
.header {
    min-height: 9rem;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo img {
    width: 7rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 3rem;
}

.menu-item:last-child {
    margin: 0;
}

/* Dropdown de especialidades */
.menu .submenu {
    width: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primario);
    padding: 2rem 1rem 0 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu-item {
    margin-bottom: 1rem;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.nav__link {
    font-size: 2rem;
    color: var(--blanco);
}

.nav__link:hover {
    cursor: pointer;
    color: var(--secundario);
    transition: ease-out 0.3s;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.login-button {
    background-color: var(--secundario);
}

.burger {
    display: none;
}

.login-button:hover {
    cursor: pointer;
    border: 2px solid var(--secundario);
    background-color: transparent;
    transition: ease-out 0.3s;
}

@media (max-width: 1200px) {

    .nav,
    .nav-buttons {
        display: none;
    }

    .burger {
        height: 1.9rem;
        width: 2.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .line {
        background-color: white;
        height: .5rem;
        width: 100%;
        border-radius: 3px;
        transition: 0.5s;
    }
}

/* Home */
/* Hero Section - Home */
.home-hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    min-height: 55rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--blanco);
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
}

.home-hero .container {
    position: relative;
    z-index: 1;
}

.home-hero h1 {
    font-size: 5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .home-hero h1 {
        font-size: 7rem;
    }
}

.button-banner {
    width: 20rem;
    padding: 2rem;
    margin-top: 4rem;
}

/* About Section - Home */
.about {
    background-color: var(--primario);
    min-height: 55rem;
    display: flex;
    align-items: center;
    color: var(--blanco);
    padding: 7rem 0;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

.upper-title p {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.mision {
    font-size: 3rem;
}

@media (min-width: 1200px) {
    .about .container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
    }

    .about-content {
        max-width: 70rem;
    }

    .upper-title p {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .mision {
        font-size: 4.5rem;
    }
}

/* Professionals Section - Home */
.professionals {
    padding: 0 0 7rem 0;
    background: linear-gradient(var(--primario), var(--secundario), var(--blanco));
    color: var(--blanco);
}

.professionals h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.professionals-button {
    display: flex;
    justify-content: center;
}

.professionals-button .button {
    color: var(--secundario);
}

.professionals-button .button:hover {
    transform: scale(1.05);
    transition: all ease-out 0.3s;
    background-color: transparent;
}

/* Services Section - Home */
.services {
    padding: 0 0 7rem 0;
    background-color: var(--blanco);
}

.services h2 {
    text-align: center;
    margin-bottom: 5rem;

}

.grid-services {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .grid-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}

.service:hover {
    transform: scale(1.05);
    transition: all ease-out 0.3s;
}

.service-item {
    height: 100%;
    padding: 3rem;
    text-align: center;
    border: 1px solid var(--secundario);
    border-radius: 2rem;
    color: var(--negro);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
}

.service-item .service-image {
    margin-bottom: 1rem;
}

.service img {
    height: 100%;
    width: 100%;
}

/* Contact Section - Home */
.contact {
    padding: 10rem 0;
    background-color: var(--terciario);
    color: var(--blanco);
}

.contact .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-content .button {
    width: 100%;
    border: 1px solid var(--blanco);
}

/* Professionals Page */
.grid-container {
    display: grid;
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid-item__content {
    background: linear-gradient(var(--blanco), 60%, var(--primario));
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    height: 100%;
}

.grid-item__content h3 {
    margin-top: 2rem;
}

/*Services Page*/
.containerServices>div {
    padding: 2rem 0;
}

.service-title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.service-title h2 {
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
    margin-bottom: 0;
}

.service-image img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;


}

.service-description {
    font-size: 1.8rem;
}

@media (min-width: 1200px) {
    .containerServices {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 1rem;
        gap: 3rem;
    }

    .containerServices>div {
        text-align: left;
        padding: 1rem 0;
    }

    .service-description {
        font-size: 2rem;
    }
}


/* Register Page */
.form-register {
    width: min(80rem, 100%);
    /* Utilizar el valor mas pequeño */
    margin: 0 auto;
}

.form-register fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-register legend {
    text-align: center;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .input-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-register__input:nth-child(5),
    .form-register__input:nth-child(8),
    .form-register__input:nth-child(11),
    #social-work,
    #affiliate {
        grid-column: 1 / 3;
    }
}

.form-register__input {
    margin: 1rem 0;
}

#social-work {
    display: flex;
    align-items: center;
}

.social-work__label input {
    /* Personalización  del checkbox */
    visibility: hidden;
    position: absolute;
    right: 0;
}

/* Modificación de checkbox */
.social-work__label {
    position: relative;
    margin-bottom: 3rem;
    padding: 5px 0 5px 60px;
    /* Damos un padding de 60px para posicionar 
        el elemento <i> en este espacio*/
    display: block;
}

/* Estas reglas se aplicarán a todos las elementos i 
después de cualquier input*/
.social-work__label input+i {
    background: #f0f0f0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.social-work__label input[type=checkbox]+i {
    width: 5.2rem;
    height: 3rem;
    border-radius: 1.5rem;
}

/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.social-work__label input[type=checkbox]+i:before {
    content: '';
    /* No hay contenido */
    width: 2.6rem;
    height: 2.6rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}

.social-work__label input[type=checkbox]:checked+i:before {
    left: 2.2rem;
    -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.social-work__label input[type=checkbox]:checked+i {
    background: var(--terciario);
}

.form-register__input label {
    color: var(--terciario);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
    font-size: 2rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem 0;
    background-color: transparent;
    border-bottom: 1px solid var(--negro);
}

.input-text::placeholder {
    font-size: 1.5rem;
}

#affiliate {
    display: none;
    /* Por defecto los campos de obra social no se ven, solo si seleccionan el checkbox */
}

/* Eliminar borde negro al seleccionar */
input,
select:focus {
    outline: none;
}

/* No funciona */
.select option {
    height: 2rem;
    background-color: transparent;
}

.submit-button {
    margin-top: 3rem;
    background-color: var(--secundario);
}

.submit-button:hover {
    background-color: transparent;
    color: var(--secundario);
    transition: ease-in .2s;
}

/* Contact Form - Contact Page */




/* Media Form */

.container {
    display: flex;
    align-items: center;
}

.container .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 40px 50%;
}

.map iframe {
    width: 557px;
    height: 350px;
    border-radius: 15px;
}

.container .formContact {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 10%;
    gap: 2rem;
}

.formContact input {
    margin: 0 -55%;
    transition: .5s;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.formContact textarea {
    margin: 0 -55%;
    border-radius: 25px;
    padding: 1.5rem;
    transition: .5s;
}

.formContact textarea:focus {
    background: transparent;
}



@media (min-width: 360px) and (max-width: 1200px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .formContact {
        max-width: 40%;
        position: relative;
        align-items: center;
    }

    h2 {
        text-align: center;
    }


    .container .map {
        margin: 5rem 0;

    }

    .map iframe {
        max-width: 90%;
    }

    .formContact textarea {
        margin: 0 -55%;
        border-radius: 25px;
        padding: 1.5rem;
        transition: .5s;
        width: 170%;
    }

    .formContact textarea:focus {
        background: transparent;

    }

}


/* login */
.formLogin {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.formLogin input {
    transition: .5s;
    margin: 1rem;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}


/* Footer */
.footer-grid {
    padding: 5rem 0;
    color: var(--blanco);
}

.footer-contact a {
    color: var(--blanco);
}

.footer-contact a:hover {
    text-decoration: underline;
    transition: ease-out 0.3s;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}

.social-icons h4 {
    text-transform: uppercase;
    text-align: center;
}

.social-icon .icon:hover {
    stroke: var(--secundario);
    transition: ease-out 0.3s;
}

.copyrights {
    text-align: center;
}

#copyrights__name {
    font-size: 1.1rem;
    margin-bottom: 0;
}





/* About Page */
.about-contenedor1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f2f2f281;
    margin: 0 auto;
    align-items: center;
    /* centrar verticalmente el contenido */
    justify-content: center;
    /* centrar horizontalmente el contenido */
    /*border-radius: 5%;*/
}

.about-contenedor2 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: #f2f2f281;
    margin: 0 auto;
    align-items: center;
    /* centrar verticalmente el contenido */
    justify-content: center;
    /* centrar horizontalmente el contenido */

}

.about-element-1 {

    padding: 40px 40px 0px;
    text-align: justify;

}

.about-element-2 {
    max-width: 600px;
    align-items: center;

}

.about-element-3 {
    padding: 40px 40px 0px;
    text-align: justify;
}

.about-element-4 {

    text-align: justify;

    grid-row: 1 / span 1;
}

.about-imagen {
    border-radius: 2%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.479);
    display: block;
    height: 100%;
    object-fit: cover;
}

/* 404 page*/
@media (max-width: 1200px ) {
    .content-404 {
        display: flex;
        flex-direction: column;
        row-gap: 0.4rem;
        justify-content: center;
        align-items: center;

    }

    .text1-404 {
        font-size: 3rem;
        color: var(--primario);
    }

    .content-404__image {
        align-items: center;
        padding: 0.5rem;

    }

    .img_404 {
        height: 20rem;
    }

    .button-404 {
        border: 2px solid var(--blanco);
        background-color: var(--secundario);
        width: 25rem;
    }

}

@media (max-width: 480px) {
    .text-404 {
        font-size: 2.5rem;
    }

    .text1-404 {
        font-size: 2rem;
    }

    .img_404 {
        height: 10rem;
    }
}

/* new_turn page*/

.container-turno {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    gap: 3rem;
}

.div-button {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    text-align: center;
}

.img-turno {
    height: 30rem;
}

.button-turno {
    background-color: rgb(34,34,221);
    width: 20rem;

}

.button-turno:hover {
    background-color: rgb(67, 120, 241)
}

.div-datos {
    text-align: left;
}

.div-informacion {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 2rem 2rem;

}

.informacion1 {
    border: 3px solid var(--primario);
    border-radius: 3px;
    padding: 1.5rem 1.5rem;
    font-size: 2rem;
}

.informacion2 {
    text-align: center;
    color: blue;
}

.div-form {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 2rem;
    font-size: 2rem;
    padding: 1rem 0;
}

.div-table {
    padding: 1rem 0;
}

.text-select,
.text-input {
    font-family: var(--fuenteParrafos);
    font-size: 80%;
    outline: none;
    width: 20rem;
    height: 2.5rem;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid var(--primario);
}

.text-thead,
.text-label {
    font-family: var(--fuenteParrafos);
    font-weight: bold;
}


@media(max-width: 768px) {
    .container-turno {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .img-turno {
        height: 15rem;
    }
    .informacion1 .div-datos .div-form{font-size: 1rem;}
}