:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #0C2D5D;
    --secundario: #1169A2;
    --terciario: #0C556A;
    --blanco: #FFF;
    --negro: #000;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 16px;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

.container {
    width: 90%;
    max-width: 190rem;
    margin: 0 auto;
}

.header,
.footer {
    background-color: var(--primario);
}

/* Header */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 3rem;
}


.nav__link {
    font-size: 2rem;
    margin-right: 4rem;
    color: var(--blanco);
}

.nav__link:last-child {
    margin: 0;
}

.nav__link:hover {
    cursor: pointer;
    color: var(--secundario);
    transition: ease-out 0.3s;
}

.nav-buttons {
    display: flex;
    gap: 2rem;
}

.button {
    border: 2px solid var(--secundario);
    background-color: transparent;
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4rem;
    width: 15rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secundario);
    transition: ease-out 0.3s;
}

.login-button {
    background-color: var(--secundario);
}

.login-button:hover {
    cursor: pointer;
    border: 2px solid var(--secundario);
    background-color: transparent;
    transition: ease-out 0.3s;
}

/* Main */
.content {
    margin: 0 2rem;
    padding: 30rem 0;
}

/* Footer */
.social-icon .icon:hover {
    stroke: var(--secundario);
    transition: ease-out 0.3s;
}


/* contacto */


.containerForm{
    display: flex;
    flex-direction: column;
}
.containerForm .form{
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    gap: 1.5rem;
}
.form input{
    border: none;
    text-align: center;
    transition: .5s;
}

.form input:focus{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0.536);
   border: none;
}
.form input:active{
    border-bottom: 1px solid red;
}
.form input:focus::placeholder{
    color: black;
}

.form textarea{
    border-radius: 5px;
    padding: 2rem;
}
.form .btn{
    background-color: #1169A2;
    transition: .5s;
}
.form .btn:hover{

    background-color: rgba(0, 128, 0, 0.531);
    color: #000;
}


/* map */

.map{
    display: flex;
    flex-direction: column;
    margin: 3% auto;
}
.map iframe{
    margin: 3rem auto;
    border-radius: 15px;
}
.map .position{
    display: flex;

    margin: 3rem auto;
}
.map .position img{
    width: 50px;
    height: 50px;
}

