:root {
    --fuenteHeading: 'Nunito', sans-serif;
    --fuenteParrafos: 'Roboto', sans-serif;

    --primario: #0C2D5D;
    --secundario: #1169A2;
    --terciario: #0C556A;
    --backgroud: #c3e3fd;
    --blanco: #FFF;
    --negro: #000;
}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    /* 1rem = 10px */
    background-color: var(--backgroud);
    padding-top: 9rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 2rem 0;
    font-family: var(--fuenteHeading);
}

p {
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p,
a,
span {
    font-family: var(--fuenteParrafos);
}

select,
input[type=checkbox] {
    cursor: pointer;
}

.container {
    width: 90%;
    max-width: 190rem;
    margin: 0 auto;
}

.header,
.footer {
    background-color: var(--primario);
    width: 100%;
}

.button {
    border: 2px solid var(--secundario);
    background-color: transparent;
    color: var(--blanco);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4rem;
    width: 15rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--secundario);
    transition: ease-out 0.3s;
}

.content {
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .content {
        padding: 10rem 0;
    }
}

.hero {
    background-color: var(--secundario);
    height: 25vw;
    min-height: 40rem;
    color: var(--negro);
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 12px -3px rgba(138, 134, 138, 1);
    width: 100%;
}

.hero .container {
    display: flex;
    justify-content: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: var(--backgroud);
}

@media (min-width: 480px) {
    .hero h1 {
        font-size: 5rem;
        padding: 1rem 2rem;
    }
}

/* Eliminar flechas de los inputs tipo number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Header */
.header {
    min-height: 9rem;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo img {
    width: 7rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 3rem;
}

.menu-item:last-child {
    margin: 0;
}

/* Dropdown de especialidades */
.menu .submenu {
    width: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primario);
    padding: 2rem 1rem 0 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu-item {
    margin-bottom: 1rem;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.nav__link {
    font-size: 2rem;
    color: var(--blanco);
}

.nav__link:hover {
    cursor: pointer;
    color: var(--secundario);
    transition: ease-out 0.3s;
}

.nav-buttons {
    display: flex;
    gap: 1rem;
}

.login-button {
    background-color: var(--secundario);
}

.burger {
    display: none;
}

.login-button:hover {
    cursor: pointer;
    border: 2px solid var(--secundario);
    background-color: transparent;
    transition: ease-out 0.3s;
}

@media (max-width: 1200px) {

    .nav,
    .nav-buttons {
        display: none;
    }

    .burger {
        height: 1.9rem;
        width: 2.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .line {
        background-color: white;
        height: .5rem;
        width: 100%;
        border-radius: 3px;
        transition: 0.5s;
    }
}

/* Home */
/* Hero Section - Home */
.home-hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vw;
    min-height: 55rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--blanco);
}

.overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
}

.home-hero .container {
    position: relative;
    z-index: 1;
}

.home-hero h1 {
    font-size: 5rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .home-hero h1 {
        font-size: 7rem;
    }
}

.button-banner {
    width: 20rem;
    padding: 2rem;
    margin-top: 4rem;
}

/* About Section - Home */
.about {
    background-color: var(--primario);
    min-height: 55rem;
    display: flex;
    align-items: center;
    color: var(--blanco);
    padding: 7rem 0;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

.upper-title p {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.mision {
    font-size: 3rem;
}

@media (min-width: 1200px) {
    .about .container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
    }

    .about-content {
        max-width: 70rem;
    }

    .upper-title p {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .mision {
        font-size: 4.5rem;
    }
}

/* Professionals Section - Home */
.professionals {
    padding: 0 0 7rem 0;
    background: linear-gradient(var(--primario), var(--secundario), var(--blanco));
    color: var(--blanco);
}

.professionals h2 {
    text-align: center;
    margin-bottom: 5rem;
}

.professionals-button {
    display: flex;
    justify-content: center;
}

.professionals-button .button {
    color: var(--secundario);
}

.professionals-button .button:hover {
    transform: scale(1.05);
    transition: all ease-out 0.3s;
    background-color: transparent;
}

/* Services Section - Home */
.services {
    padding: 0 0 7rem 0;
    background-color: var(--blanco);
}

.services h2 {
    text-align: center;
    margin-bottom: 5rem;

}

.grid-services {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .grid-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
    }
}

.service:hover {
    transform: scale(1.05);
    transition: all ease-out 0.3s;
}

.service-item {
    height: 100%;
    padding: 3rem;
    text-align: center;
    border: 1px solid var(--secundario);
    border-radius: 2rem;
    color: var(--negro);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
}

.service-item .service-image {
    margin-bottom: 1rem;
}

.service img {
    height: 100%;
    width: 100%;
}

/* Contact Section - Home */
.contact {
    padding: 10rem 0;
    background-color: var(--terciario);
    color: var(--blanco);
}

.contact .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-content .button {
    width: 100%;
    border: 1px solid var(--blanco);
}

/* Professionals Page */
.grid-container {
    display: grid;
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
    }
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.grid-item__content {
    background: linear-gradient(var(--blanco), 60%, var(--primario));
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    color: var(--blanco);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
    height: 100%;
}

.grid-item__content h3 {
    margin-top: 2rem;
}

/*Services Page*/
.containerServices>div {
    padding: 2rem 0;
}

.service-title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.service-title h2 {
    background-color: var(--secundario);
    color: var(--blanco);
    text-align: center;
    margin-bottom: 0;
}

.service-image img {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
}

.service-description {
    font-size: 1.8rem;
}

@media (min-width: 1200px) {
    .containerServices {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 1rem;
        gap: 3rem;
    }

    .containerServices>div {
        text-align: left;
        padding: 1rem 0;
    }

    .service-description {
        font-size: 2rem;
    }
}

/* Register Page */
.form-register {
    width: min(80rem, 100%);
    /* Utilizar el valor mas pequeño */
    margin: 0 auto;
}

.form-register fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form-register legend {
    text-align: center;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .input-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .form-register__input:nth-child(5),
    .form-register__input:nth-child(8),
    .form-register__input:nth-child(11),
    #social-work,
    #affiliate {
        grid-column: 1 / 3;
    }
}

.form-register__input {
    margin: 1rem 0;
}

#social-work {
    display: flex;
    align-items: center;
}

.social-work__label input {
    /* Personalización  del checkbox */
    visibility: hidden;
    position: absolute;
    right: 0;
}

/* Modificación de checkbox */
.social-work__label {
    position: relative;
    margin-bottom: 3rem;
    padding: 5px 0 5px 60px;
    /* Damos un padding de 60px para posicionar 
        el elemento <i> en este espacio*/
    display: block;
}

/* Estas reglas se aplicarán a todos las elementos i 
después de cualquier input*/
.social-work__label input+i {
    background: #f0f0f0;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

/* Estas reglas se aplicarán a todos los i despues 
de un input de tipo checkbox*/
.social-work__label input[type=checkbox]+i {
    width: 5.2rem;
    height: 3rem;
    border-radius: 1.5rem;
}

/*
Creamos el círculo que aparece encima de los checkbox
con la etqieta before. Importante aunque no haya contenido
debemos poner definir este valor.
*/
.social-work__label input[type=checkbox]+i:before {
    content: '';
    /* No hay contenido */
    width: 2.6rem;
    height: 2.6rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}

.social-work__label input[type=checkbox]:checked+i:before {
    left: 2.2rem;
    -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.social-work__label input[type=checkbox]:checked+i {
    background: var(--terciario);
}

.form-register__input label {
    color: var(--terciario);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
    font-size: 2rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem 0;
    background-color: transparent;
    border-bottom: 1px solid var(--negro);
}

.input-text::placeholder {
    font-size: 1.5rem;
}

#affiliate {
    display: none;
    /* Por defecto los campos de obra social no se ven, solo si seleccionan el checkbox */
}

/* Eliminar borde negro al seleccionar */
input,
select:focus {
    outline: none;
}

/* No funciona */
.select option {
    height: 2rem;
    background-color: transparent;
}

.submit-button {
    margin-top: 3rem;
    background-color: var(--secundario);
}

.submit-button:hover {
    background-color: transparent;
    color: var(--secundario);
    transition: ease-in .2s;
}

/* Contact Form - Contact Page */
.content-contact {
    display: flex;
    margin: 1rem 20%;
    gap: 5%;
    align-items: center;
}

.containerForm {
    display: flex;

}

.containerForm .form {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    gap: 1.5rem;
}

.form h2 {
    text-align: center;
    margin-left: -50%;
}

.form input {
    border: none;
    text-align: center;
    transition: .5s;
    margin-left: -50%
}

.form input:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 255, 0.536);
    border: none;
}

.form input:active {
    border-bottom: 1px solid red;
}

.form input:focus::placeholder {
    color: black;
}

.form textarea {
    border-radius: 5px;
    padding: 2rem;
    margin-left: -50%;
}

.form .btn {
    background-color: #1169A2;
    transition: .5s;
    margin-left: -50%;
}

.form .btn:hover {
    background-color: rgba(0, 128, 0, 0.531);
    color: #000;
}

/* Map Section - Contact Page*/
.map {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
}

.map iframe {
    margin: 3rem auto;
    border-radius: 1.5rem;
}

.map .position {
    display: flex;

    margin: 3rem auto;
}

.map .position img {
    width: 5rem;
    height: 5rem;
}


/* Footer */
.footer-grid {
    padding: 5rem 0;
    color: var(--blanco);
}

.footer-contact a {
    color: var(--blanco);
}

.footer-contact a:hover {
    text-decoration: underline;
    transition: ease-out 0.3s;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}

.social-icons h4 {
    text-transform: uppercase;
    text-align: center;
}

.social-icon .icon:hover {
    stroke: var(--secundario);
    transition: ease-out 0.3s;
}

.copyrights {
    text-align: center;
}

#copyrights__name {
    font-size: 1.1rem;
    margin-bottom: 0;
}

/* 404 page*/
.content-404 {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
    align-items: center;
}

.text-404 {
    font-size: 4rem;
    color: var(--primario);
}

.text1-404 {
    font-size: 3rem;
    color: var(--primario);
}

.content-404__image {
    align-items: center;
    padding: 0.5rem;

}

.img_404 {
    height: 20rem;
}

.button-404 {
    border: 2px solid var(--blanco);
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4rem;
    width: 25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .text-404 {
        font-size: 2.5rem;
    }

    .text1-404 {
        font-size: 2rem;
    }

    .img_404 {
        height: 10rem;
    }
}